
body {
    background: #121212;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    background: #1e1e1e;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
    text-align: center;
    width: 90%;
    max-width: 800px;
}
p{
    color: pink;
   font: 1.8em;
   margin-bottom: 20px;
    text-shadow: 0 0 3px #ff00ff;

}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #00ffff;
    text-shadow: 0 0 5px #00ffff;
}

#result {
    margin: 20px 0;
    font-size: 1.5rem;
    min-height: 40px;
    color: #ffea00;
    text-shadow: 0 0 3px #ffea00;
}



button {
    background: #00ffff;
    color: #000;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
}

button:hover {
    background: #00cccc;
}





